header{
    background-color: rgb(25, 29, 30,0.9);
    -webkit-backdrop-filter: blur(10px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(10px);
}

#navigation{
    color: #A3A4A5;
}

#Logo{
    transition: transform 330ms ease-in-out;
}

#Logo:hover{
    transform: scale(1.2);
}

#navigation input {
    border-radius: 10px ;
    background-color: #484B4C;
    color: #A3A4A5;
    padding: 5px 15px 5px 30px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.2s;
}

#navigation input:focus {
    outline: none;
}

#navigation input:hover {
    outline: 1px solid rgb(169, 169, 169);
}

#navigation a{
    cursor: pointer;
    transition: transform 330ms ease-in-out;
}

#navigation a:hover{
    cursor: pointer;
    transform: translateY(-3px);
}

#btnHeader{
    background-color: #cacaca;
    color: #000000;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.5s;
    white-space: nowrap;

}

#btnHeader:hover{
    background-color: #000000;
    color: #ffffff;
}